@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-active {
    clip-path: inset(2.5%);
    transition: ease 0.5s;
  }
  .clip-inactive {
    clip-path: inset(0);
    transition: ease 0.5s;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Inter, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::selection {
  background-color: #d6ff35;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  border-color: black;
}

div,
footer,
header,
main,
nav,
section {
  border-color: #000000;
}

.noScroll {
  height: 100%;
  overflow-y: hidden;
}

.facebook-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 3em 0;
}

.facebook-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

// Codeblock
.remark-highlight {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

// Individual codeblock
code {
  color: #ffffff;
  padding: 0.25rem;
  white-space: normal;
  background: #2d2d2d;
}

// Video embed
.video_embed {
  margin: 3em 0;
}

.video_embed div {
  padding: 56.25% 0 0 0 !important;
  position: relative !important;
}

.instagram-media {
  background: white;
  width: calc(50% - 2px);
  border-radius: 3px;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: none;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 24px !important;
  min-width: 326px;
  padding: 0px;
}
